* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
  position: relative;
  background-color: rgb(71, 71, 71);
}
.Slider{
  height: 100%;
  width: 100%;
}
h1 {
  color: aliceblue;
}
